

        .GL .team__logo {
            background-color: #bde0fe;
        }
        .GL {
            order: 16;
        }

        
    
        .O .team__logo {
            background-color: #daeaf6:
        }
        .O {
            order: 12;
        }
        


    
        .Z .team__logo {
            background-color: #9bd0b7;
        }
        .Z {
            order: 13;
        }
        

        .M .team__logo {
            background-color: #c23a22;
        }
        .M {
            order: 23;
        }
        

        
        .DS .team__logo {
            background-color: #dab894;
        }
        .DS {
            order: 8;
        }
       
       
        
        .DU .team__logo {
            background-color: #d6eadf;
        }
        .DU {
            order: 14;
        }



        
        .OT .team__logo {
            background-color: #957DAD;
        }
        .OT {
            order: 1;
        }



       
        .GG .team__logo {
            background-color: #E0BBE4;
        }
        .GG {
            order: 18;
        }



        .CH .team__logo {
            background-color: #d291bc;
        }
        .CH {
            order: 24;
        }


 
        .GO .team__logo {
            background-color: #c2d5a8;
        }
        .GO {
            order: 11;
        }




        .GV .team__logo {
            background-color: #ffdfdc;
        }
        .GV {
            order: 10;
        }


        .SC .team__logo {
            background-color: #9d8189;
        }
        .SC {
            order: 2;
        }


        .V .team__logo {
            background-color: #cccccc;
        }
        .V {
            order: 26;
        }



        .MK .team__logo {
            background-color: #9cadce;
        }
        .MK {
            order: 15;
        }


        .SA .team__logo {
            background-color: #a2d2ff;
        }
        .SA {
            order: 20;
        }
        

        .P .team__logo {
            background-color: #5d5b6a;
        }
        .P {
            order: 19;
        }



        .R .team__logo {
            background-color: #ffafcc;
        }
        .R {
            order: 5;
        }



        .HS .team__logo {
            background-color: #efe9ae;
        }
        .HS {
            order: 9;
        }

        

        .CE .team__logo {
            background-color: #ff928b;
        }
        .CE {
            order: 4;
        }


        .PP .team__logo {
            background-color: #7ec4cf;
        }
        .PP {
            order: 17;
        }

        
        .HW .team__logo {
            background-color: #758184;
        }
        .HW {
            order: 0;
        }



        .KR .team__logo {
            background-color: #ff8fab;
        }
        .KR {
            order: 25;
        }
        
        
        .CO .team__logo {
            background-color: #ff6663;
        }
        .CO {
            order: 21;
        }



        .HV .team__logo {
            background-color: #b8e0d2;
        }
        .HV {
            order: 6;
        }




        .BR .team__logo {
            background-color: #e8d1c5;
        }
        .BR {
            order: 22;
        }


        .CA .team__logo {
            background-color: #ffc8dd;
        }
        .CA {
            order: 7;
        }



        .SP .team__logo {
            background-color: #f6bc66;
        }
        .SP {
            order: 3;
        }



        .HO .team__logo {
            background-color: #637042;
        }
        .HO {
            order: 27;
        }

        
        