html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

::-moz-placeholder {
  color: #404A3C;
}

:-ms-input-placeholder {
  color: #404A3C;
}

::placeholder {
  color: #404A3C;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F0E2E1;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header:hover {
  background-color: #F1EFDB;
}
.header__logo {
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
.header__logo a {
  text-decoration: none;
}
.header__title {
  font-size: 50px;
  font-family: "Caveat Brush", cursive;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  color: #972906;
}
.header__subtitle {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1048px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__title {
    display: inline;
    font-size: 50px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 20px 10px 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.menu__items {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 5px 0;
  border: 0;
  background-color: #972906;
  color: #F0E2E1;
  border-radius: 20px;
  text-decoration: none;
  flex: 1 1 50%;
}
.menu__items:hover, .menu__items:focus, .menu__items:active {
  background-color: #404A3C;
  color: #fcfcfc;
  padding: 5px 10px;
  margin: 5px 0;
  transform: scale(1.1);
}
@media screen and (min-width: 1048px) {
  .menu {
    margin: 0;
  }
  .menu__items, .menu__items:hover, .menu__items:active, .menu__items:focus {
    padding: 5px 80px;
  }
}

.hero {
  height: 500px;
  background-image: url("/images/mia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  background-attachment: fixed;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero__text {
  display: block;
  padding: 300px 0 50px 0;
  background: linear-gradient(to top, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
}
.hero__title, .hero__subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
}
.hero__title {
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 700px;
  }
}

.footer {
  background-color: #972906;
  color: #fcfcfc;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer:hover {
  background-color: #404A3C;
}
.footer__copyright {
  margin: 0;
}
.footer__designer {
  font-size: 12px;
  text-align: center;
}
.footer__designers > :last-child {
  font-size: 10px;
}
.footer__designer a {
  color: #fcfcfc;
}
.footer__thanks {
  text-align: center;
  padding: 0;
  margin: 20px 0;
  order: -1;
}
.footer__text {
  margin: 0;
}
@media screen and (min-width: 1048px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .footer__copyright, .footer__designers {
    flex: 0 1 20%;
  }
  .footer__thanks {
    order: 0;
  }
  .footer__designer {
    text-align: right;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section__header {
  margin-bottom: 40px;
}
.section__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Caveat Brush", cursive;
  font-size: 40px;
  color: #972906;
}
.section__title::after, .section__title::before {
  content: "";
  display: block;
  height: 3px;
  width: 200px;
  background-color: #972906;
  margin: 20px auto;
  background: linear-gradient(to left, #fcfcfc, #972906, #fcfcfc);
}
.section__content {
  margin: 0 20px;
}
.section__subtitle {
  color: #972906;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section__text {
  text-align: center;
  padding: 0;
  margin: 0;
}
.section__text--emp {
  margin-top: 40px;
  color: #972906;
  font-weight: bold;
}
.section__text--margin-bottom {
  margin-bottom: 20px;
}
.section__text--no-margin {
  margin: 0;
}
.section__paragraph {
  padding: 26.6666666667px;
  margin: 26.6666666667px;
  padding-top: 20px;
}
.section__paragraph--background {
  background-color: #F0E2E1;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .section__paragraph {
    margin: 0;
  }
}
@media screen and (min-width: 1048px) {
  .section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .section__title::after, .section__title::before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 200px;
    margin-bottom: 0.5rem;
    margin-left: 40px;
    margin-right: 40px;
  }
  .section__title::after {
    background: linear-gradient(to right, #972906, #fcfcfc);
  }
  .section__title::before {
    background: linear-gradient(to left, #972906, #fcfcfc);
  }
}

.button {
  display: block;
  border: 0;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "Raleway", sans-serif;
  margin: 10px auto 0 auto;
  cursor: pointer;
}
.button--primary {
  background-color: #972906;
}
.button--primary:hover, .button--primary:active {
  background-color: #404A3C;
  transform: scale(1.1);
}
.button__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  color: #fcfcfc;
}
.button--center {
  text-align: center;
}
.button--secondary {
  background-color: #404A3C;
  color: #F1EFDB;
}
.button--secondary:hover, .button--secondary:active {
  background-color: #972906;
  color: #F0E2E1;
  transform: scale(1.1);
}

.info__content > :last-child {
  margin-top: 40px;
}
.info__greetings {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .info__content {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }
  .info__leading {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  .info__points {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .info__fotos {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .info__warning {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .info__reward {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .info__greetings {
    grid-row: 4/5;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1048px) {
  .info .section {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.stations {
  padding-top: 100px;
}
.stations-map, .stations-map__img {
  display: none;
}
.stations .section__title {
  color: #404A3C;
}
.stations .section__title::after, .stations .section__title::before {
  background-color: #404A3C;
  margin: 20px auto;
  background: linear-gradient(to left, #F1EFDB, #404A3C, #F1EFDB);
}
@media screen and (min-width: 768px) {
  .stations__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1048px) {
  .stations .section__content {
    width: 80%;
    margin: auto;
  }
  .stations__list {
    margin: 0;
  }
  .stations .section__title::after, .stations .section__title::before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 200px;
    margin-bottom: 0.5rem;
    margin-left: 40px;
    margin-right: 40px;
  }
  .stations .section__title::after {
    background: linear-gradient(to right, #404A3C, #F1EFDB);
  }
  .stations .section__title::before {
    background: linear-gradient(to left, #404A3C, #F1EFDB);
  }
  .stations-map {
    display: block;
    height: 700px;
    max-width: 900px;
    margin: 0 auto 80px;
  }
  .stations-map__img {
    display: block;
    width: 100%;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.station {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 20px 20px 0px 20px;
  padding: 35px 0 20px 0;
  background-color: #F1EFDB;
  box-shadow: 0 0 10px 2px rgba(1, 1, 1, 0.2);
}
.station__logo {
  flex: 1 1 20%;
  padding: 0 20px;
  fill: #404A3C;
  box-sizing: content-box;
}
.station__text {
  flex: 1 1 80%;
  padding-right: 20px;
  text-align: left;
}
.station__desc, .station__loc {
  display: none;
}
.station__name {
  margin: 0;
  padding: 0;
  padding-left: 4px;
}
.station__info p {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .station {
    margin: 0;
    margin-top: 20px;
    flex: 0 0 calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1048px) {
  .station {
    margin-top: 10px;
    flex: 0 0 calc((100% - 30px) / 3);
  }
  .station__desc, .station__loc {
    display: inline;
  }
}

.teams {
  padding-top: 100px;
}
.teams__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.teams__list > :last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .teams .section__content {
    margin-left: 80px;
    margin-right: 80px;
  }
  .teams__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  order: 100;
  box-shadow: 0 0 10px 2px rgba(1, 1, 1, 0.2);
  background-color: #F0E2E1;
}
.team__name {
  box-sizing: content-box;
}
.team__logo {
  display: inline-block;
  width: 35px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  color: #fcfcfc;
  border: 2px solid #fcfcfc;
  font-family: "Caveat Brush", cursive;
  font-style: normal;
  box-shadow: 0 0 30px 2px rgba(1, 1, 1, 0.5);
  background-color: gray;
  box-sizing: content-box;
}
.team__results {
  margin: 0px auto;
}
.team__info {
  padding: 0;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .team {
    margin: 0;
    margin-top: var(--spacer-small);
    flex: 0 0 calc((100% - var(--spacer-small)) / 2);
  }
}
@media screen and (min-width: 1048px) {
  .team {
    margin-top: 15px;
    flex: 0 0 calc((100% - 60px) / 4);
  }
}

.M, .CH, .KR, .V, .HO {
  display: none;
}

.login {
  width: 80%;
  background-color: #F1EFDB;
  margin: 240px auto 80px;
  padding: 40px 0;
  color: #404A3C;
  box-shadow: 0 0 20px 2px rgba(1, 1, 1, 0.2);
  border-radius: 20px;
}
.login__title {
  text-align: center;
  margin-bottom: 40px 0;
}
.login__box {
  margin: 40px auto;
  width: 80%;
  border-bottom: 1px solid #404A3C;
  padding-top: 10px;
  padding-bottom: 5px;
}
.login__input {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  color: #404A3C;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .login {
    width: 60%;
  }
}
@media screen and (min-width: 1048px) {
  .login {
    width: 50%;
  }
}

.form .section {
  padding-top: 240px;
}

.error {
  padding-top: 100px;
}
.error__message {
  text-align: center;
  padding: 0;
  color: #404A3C;
}
.error__img {
  width: 40%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 20px auto;
}
@media screen and (min-width: 768px) {
  .error__img {
    width: 50%;
    height: 400px;
  }
}
@media screen and (min-width: 1048px) {
  .error__img {
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */