html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}

// fonts
$font-primary: "Raleway", sans-serif;
$font-secondary: "Caveat Brush", cursive;


// colors
$color-primary: #972906 ;
$color-primary-light: #F0E2E1;
$color-secondary-light:#F1EFDB;
$color-secondary: #404A3C;
$white: #fcfcfc;


// spaces
$spacer-big: 80px;
$spacer-small: 20px;

// media sizes
$media-netobook: 1200px;
$media-tablet: 768px;


// mixin
@mixin tablet{
    @media screen and (min-width: $media-tablet){
        @content;
    }    
}

@mixin notebook{
    @media screen and (min-width: $media-netobook){
        @content;
    }    
}




body {

    margin: 0;
    font-family: $font-primary;

    @include notebook{
      max-width: $media-netobook - 100px;   
    }
   
}

::placeholder {
    color: $color-secondary;
  }