@use '../base';

.info{
  &__content > :last-child {
    margin-top: calc(base.$spacer-big/ 2);
  }

  &__greetings{
    padding-bottom: 0;
  }

 

  @include base.tablet{

    &__content {
      margin-left: base.$spacer-big;
      margin-right: base.$spacer-big;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: base.$spacer-small;
    }
  
    &__leading {
      grid-row: 1/2;
      grid-column: 1/-1;
    }
  
    &__points {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  
    &__fotos  {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  
    &__warning {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  
    &__reward{
      grid-row: 3/4;
      grid-column: 2/3;
    }
  
    &__greetings {
      grid-row: 4/5;
      grid-column: 1/-1;
    }


  }

  @include base.notebook{
    & .section{
      padding-left: 15%;
      padding-right: 15%;
    }
  }

}