<footer class="footer">
    <p class="footer__copyright">©Anna&Lorenz</p>

    <div class="footer__thanks">
        <p class="footer__text">Viel Spaß bei der Rätselrallye - tobt euch aus, </p>
        <p class="footer__text">lernt euch kennen</p>  
        <p class="footer__text">und feiert das Leben &#9825; </p>

    </div>

    <div class="footer__designers">
        <p class="footer__designer">Webpage developed by<a href="https://brodsa.github.io/curriculum_vitae/"> Sarka Grubner</a></p>
    </div>
</footer>