<section class="hero">
    <div class="hero__picture">
        <img class="hero__img hero__img--small" src="/images/mia_cropped.jpg" style="width:auto;">
        
        </div>

    <div class="hero__text">
        <p class="hero__title" data-aos="fade-up">Rätzelrallye</p>
        <p class="hero__subtitle" data-aos="fade-up">Reichenau an der Rax</p>
        <p class="hero__subtitle" data-aos="fade-up">20. Mai 2022</p>

        <button class="button"><a class="button__link" href="/info/">Komm rein</a> </button>
    </div>

    
</section>