<nav class="menu">
    <a class="menu__item  {{ 'menu__item--active' if page.fileSlug === 'info' }}" href="/info/">Info</a>
    <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'stations' }}" href="/stations/">Stationen</a> 
    <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'teams' }}" href="/teams/">Teams</a> 
</nav>