@use '../base';

.header {
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: base.$spacer-small;
    padding-bottom: base.$spacer-small;

    // new
    &__img{
      fill: base.$white;
      height: 20px;
    }

    &__title {
        font-size: 20px;
        font-family: base.$font-primary;
        padding: 0;
        padding-top: base.$spacer-small;
        margin: 0 auto;
     }
 
    
    &__logo {
        margin-bottom:base.$spacer-small;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }
    
    &__logo a {
        text-decoration: none;
        color: base.$white;
    }
    
 
    
    &__subtitle {
        margin: 0;
        padding: 0;
    }

    @include base.notebook{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;

        &__logo{
            margin:0;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;
        }
    
        &__title {
            display: flex;
            font-size: 20px;
            padding-left: base.$spacer-small;
            text-decoration: none;
            
        }
    
    }
}