@use '../base';

.menu {
    display: flex;
    justify-content: center;
    margin: 0 20px 10px 20px;
    column-gap: 5px;

    background-color: gray;
 
  &__item {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 0;
    text-decoration: none;
    color: base.$white;
  }

  &__item--active,
  &__item:hover,
  &__item:focus,
  &__item:active {
    background-color: base.$color-primary;
    color: black;
    padding: 10px;
    transform: scale(1.05);
    background: linear-gradient(to right top, base.$color-secondary-light, base.$color-primary-light);
    
  }

  @include base.tablet{
    margin: 0;

    &__item,
    &__item--active,
    &__item:hover,
    &__item:focus,
    &__item:active {
      padding: 10px;

  }
}

  @include base.notebook{
    margin: 0;

    &__item,
    &__item:hover,
    &__item:active,
    &__item:focus {
      padding: 10px;
    }

  }
    
}