<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- START: CSS-Styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_station.css">
    <link rel="stylesheet" href="/css/style_teams.css">
    <!-- END: CSS-Styles -->

    <!-- START: Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">

    <!-- CSS-Animation JS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>{{title}}</title>
</head>
<body>


    <div class="wrapper">

        <!-- START: Header -->
        <header class="header">

            <div class="header__logo">
                <a href="/"><h1 class="header__title">Anna & Lorenz</h1></a>
            </div>
            
            {% include "partials/menu.njk"  %}
            
        </header>
         <!-- END: Header -->

        
        <!-- START: Content -->
        {{content|safe}}
        <!-- END: Content -->


        <!-- START: Footer -->
        {% include "partials/footer.njk" %}
        <!-- END: Footer -->
    

    </div>


    
    <!-- START: Javasripts -->
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- END: Javasripts -->

</body>

</html>